mysql_data/

.env

config.php
admin/config.php
html/config.php
html/admin/config.php

html/system/storage/cache/
html/system/storage/logs/
html/system/storage/session/

*.zip

temp_extract/
PS

html/install/
